.action-button {
  display: flex;
  align-items: center;
  gap: var(--sagim-spacing-xs);

  mat-icon {
    margin-right: var(--sagim-spacing-xs);
  }

  .btn-spinner {
    display: inline-flex;
    margin-right: var(--sagim-spacing-xs);
    ::ng-deep circle { stroke: currentColor; }
  }
}
